@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.Navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 4px 0px 4px;
    background-color: #0a192f;
    color: gray;
}

.Menu {
    display: none;
}

.Hamburger {
    padding-right: 10px;
    z-index: 10;
}

.Mobile1 {
    display: none;
}

.Mobile2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100dvh;
    background-color: #0a192f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) { 
    .Menu {
        display: flex;
    }

    .Hamburger {
        display: none;
    }


}